<div class="container p-3">
  <h3 class="text-white p-2 mb-3 mx-1">Cadastro de Carros</h3>
  <form #FormCar="ngForm">
    <div class="row mx-1">
      <div class="col">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" [(ngModel)]="car.name" name="name" id="floatingName"
            placeholder="Enter Name" required>
          <label for="floatingName">Nome</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" [(ngModel)]="car.assembler" name="assembler" id="floatingAssembler"
            placeholder="Enter Assembler" required>
          <label for="floatingAssembler">Montadora</label>
        </div>
      </div>
    </div>
    <div class="row mx-1">
      <div class="col">
        <div class="form-floating mb-3">
          <input type="number" class="form-control" [(ngModel)]="car.price" name="price" id="floatingPrice"
            placeholder="Enter Price" required>
          <label for="floatingPrice">Preço</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating mb-3">
          <input type="number" class="form-control" [(ngModel)]="car.year" name="year" id="floatingYear"
            placeholder="Enter Year" required>
          <label for="floatingYear">Ano</label>
        </div>
      </div>
    </div>
    <div class="row mx-1">
      <div class="col">
        <button type="button" class="btn btn-success" (click)="save()" [disabled]="!FormCar.valid">
          Salvar
        </button>
      </div>
    </div>
  </form>
</div>